<div class="card bg-{{ color ?? "primary" }} text-white mb-4">
    <div class="card-body">{{ body }}</div>
    {% if route is defined %}
        <div class="card-footer d-flex align-items-center justify-content-between">
            <a class="small text-white stretched-link" href="{{ route }}">View Details</a>
            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
    {% endif %}
</div>
